*{
    margin: 0%;
    font-family: serif;
}

.logo-inicio{
     margin-left: 125px;
     height: 80px;
     display: flex;
     align-items: center;
}

.h3-lista{
    margin-top: 35px;
    margin-bottom: 22px;
    text-align: center;
}
span{
    color: blue;
}

a{
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
    color: black;
    position: relative;
    left: 450px;
    font-weight: bold;
}

.img-banner{
    background-image: url(assets/img-fundo.jpg);
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.quartos-de-solteiros{
   
    text-align: center;
    position: relative;
    margin-top:  120px;
}

.img-geral{
    height: 300px;
    width: 350px;
    justify-content: space-between;
}

.div-lista{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.lista li{
    width: 230px;
    
}

.titulo{
    text-align: center;
    position: relative;
    bottom: 80px;
}

.paragrafo{
    position: relative;
    top: 20px;
}

.roda-pe{

    margin-top: 80px;
    display: flex;
    align-items: center;
    background-color: #009900;
    height: 100px;
    flex-wrap: wrap;

}

.informacoes{
    display: flex;
    position: relative;
    left: 150px;
    padding: 25px;
    align-items: center;
}

.contato{
    font-size: 35px;
    font-weight: bold;
    color: white;
    line-height: 32px;
    position: relative;
    left: 125px;
}